<!DOCTYPE html>
<html>
<head>
    <title>Freedcodecamp File Metadata Microservice</title>
</head>
<body>
    <h1>File Metadata Microservice</h1>
    <p>Submit a file to view its filesize.</p>
    <form action="/uploads" enctype="multipart/form-data" method="POST">
        <input type="file" name="filename"></input>
        <input type="submit"></input>
    </form>
</body>
</html>